[submodule "docs/UntitledVulkanGameEngine"]
	path = docs/UntitledVulkanGameEngine
	url = https://github.com/MadLadSquad/UntitledVulkanGameEngine.wiki.git
[submodule "docs/UntitledLog"]
	path = docs/UntitledLog
	url = https://github.com/MadLadSquad/UntitledLog.wiki.git
[submodule "docs/UntitledImGuiFramework"]
	path = docs/UntitledImGuiFramework
	url = https://github.com/MadLadSquad/UntitledImGuiFramework.wiki.git
[submodule "docs/UntitledExec"]
	path = docs/UntitledExec
	url = https://github.com/MadLadSquad/UntitledExec.wiki.git
[submodule "docs/UntitledRuntimeLibraryLoader"]
	path = docs/UntitledRuntimeLibraryLoader
	url = https://github.com/MadLadSquad/UntitledRuntimeLibraryLoader.wiki.git
[submodule "docs/YouyinWeb"]
	path = docs/YouyinWeb
	url = https://github.com/MadLadSquad/YouyinWeb.wiki.git
[submodule "docs/UVKBuildTool"]
	path = docs/UVKBuildTool
	url = https://github.com/MadLadSquad/UVKBuildTool.wiki.git
[submodule "docs/UntitledCLIParser"]
	path = docs/UntitledCLIParser
	url = https://github.com/MadLadSquad/UntitledCLIParser.wiki.git
[submodule "docs/UntitledGameSystemManager"]
	path = docs/UntitledGameSystemManager
	url = https://github.com/MadLadSquad/UntitledGameSystemManager.wiki.git
[submodule "docs/UntitledPackageGenerator"]
	path = docs/UntitledPackageGenerator
	url = https://github.com/MadLadSquad/UntitledPackageGenerator.wiki.git
[submodule "docs/UntitledXDGBasedir"]
	path = docs/UntitledXDGBasedir
	url = https://github.com/MadLadSquad/UntitledXDGBasedir.wiki.git
[submodule "docs/UntitledImGuiTextUtils"]
	path = docs/UntitledImGuiTextUtils
	url = https://github.com/MadLadSquad/UntitledImGuiTextUtils.wiki.git
[submodule "docs/UntitledTemplatingEngine"]
	path = docs/UntitledTemplatingEngine
	url = https://github.com/MadLadSquad/UntitledTemplatingEngine.wiki.git
[submodule "UVKBuildTool"]
	path = UVKBuildTool
	url = https://github.com/MadLadSquad/UVKBuildTool.git
[submodule "docs/UDFPanel"]
	path = docs/UDFPanel
	url = https://github.com/MadLadSquad/UDFPanel.wiki.git
[submodule "docs/UntitledImGuiTheme"]
	path = docs/UntitledImGuiTheme
	url = https://github.com/MadLadSquad/UntitledImGuiTheme.wiki.git
[submodule "docs/UntitledI18N"]
	path = docs/UntitledI18N
	url = https://github.com/MadLadSquad/UntitledI18N.wiki.git
