[submodule "docs/UntitledVulkanGameEngine"]
	path = docs/UntitledVulkanGameEngine
	url = https://github.com/MadLadSquad/UntitledVulkanGameEngine.wiki.git
[submodule "docs/UntitledLog"]
	path = docs/UntitledLog
	url = https://github.com/MadLadSquad/UntitledLog.wiki.git
[submodule "docs/UntitledLinuxGameManager"]
	path = docs/UntitledLinuxGameManager
	url = https://github.com/MadLadSquad/UntitledLinuxGameManager.wiki.git
[submodule "docs/UntitledImGuiFramework"]
	path = docs/UntitledImGuiFramework
	url = https://github.com/MadLadSquad/UntitledImGuiFramework.wiki.git
[submodule "docs/UntitledTextGenerator"]
	path = docs/UntitledTextGenerator
	url = https://github.com/MadLadSquad/UntitledTextGenerator.wiki.git
[submodule "docs/UntitledPackageSchemeGenerator"]
	path = docs/UntitledPackageSchemeGenerator
	url = https://github.com/MadLadSquad/UntitledPackageSchemeGenerator.wiki.git
[submodule "docs/UntitledExec"]
	path = docs/UntitledExec
	url = https://github.com/MadLadSquad/UntitledExec.wiki.git
[submodule "docs/UntitledRuntimeLibraryLoader"]
	path = docs/UntitledRuntimeLibraryLoader
	url = https://github.com/MadLadSquad/UntitledRuntimeLibraryLoader.wiki.git
[submodule "docs/YouyinWeb"]
	path = docs/YouyinWeb
	url = https://github.com/MadLadSquad/YouyinWeb.wiki.git
[submodule "docs/UVKBuildTool"]
	path = docs/UVKBuildTool
	url = https://github.com/MadLadSquad/UVKBuildTool.wiki.git
[submodule "docs/UntitledCLIParser"]
	path = docs/UntitledCLIParser
	url = https://github.com/MadLadSquad/UntitledCLIParser.wiki.git
