p{
	text-align: center;
	font-size: 18px;
}

h1{
	text-align: center;
}

body{
	background-color: black;
	color: #149414;
}

audio{
	display: none;
}

button{
	display: block;
	
	width: 250px;
	border: 2px solid #0e6b0e;
	color: #149414;
	font-size: 24px;
	background-color: rgba(0.0, 0.0, 0.0, 0.0);
	overflow: hidden;
	transition: 0.3s;
}

button:hover{
	width: 300px;
}

section{
	display: grid;
	place-items: center;
	margin-top: 50vh;
}

section p{
	margin-top: 2vh;
}

section h1{
	margin-top: 2vh;
}

.enter{
	margin-top: 12vh;
}

.who{
	display: grid;
	grid-template-areas:
	"A B";
	vertical-align: top;
}

.who p{
	max-width: 35vw;
	text-align: left;
}
