body{
	background-color: black;
	color: #149414;
}

audio{
	display: none;
}

button{
	border: 5px, solid;
	color: #149414;
	border-color: #0e6b0e;
	font-size: 32px;
	border-radius: 5px;
	background-color: rgba(0.0, 0.0, 0.0, 0.0);
	overflow: hidden; 
}
