<!DOCTYPE html>
<html>
	<head>
		{{ partial "head.html" . }}
		{{ block "title" . }}
		{{- $title := partial "title.html" . }}
		<title>{{ $title }}</title>
		<meta property="og:title" content="{{ $title }}"/>
		<meta name="twitter:title" content="{{ $title }}"/>
		{{- end }}
	</head>
	<body>
		{{ partial "header.html" . }}
		{{ block "main" . }}{{ end }}
		{{ partial "footer.html" . }}
	</body>
	{{ with resources.Get "index.js" | js.Build (dict "minify" true "targetPath" "index.js" "format" "iife") }}<script src="{{ .RelPermalink }}"></script>{{ end }}
</html>
